.bodyes {
    background-image: url('sea_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    transition: background-image 0.5s ease;
  }
.headeres {
  background-color: transparent;
  }

.search-buttones{
  padding: 8px 12px;
  background-color: #51c77a; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-buttones:hover {
  background-color: #cc5500;
}
.navbares {
  display: flex;
  align-items: center;
}

.logoes {
  width: 100px;
  height: auto;
  margin-right: auto;
  right:10px;
}

.nav-itemes {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
   font-weight:bold;
}

.nav-itemes:hover {
  color: orange;
}

.search-formes{
  display: flex;
}

.search-bares {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}
.turtle_h3{
      text-align: center;
  }
 .turtle_h2{
   margin-left:180px;
   margin-bottom:-30px;
}

.flash-cardes{
    width: 380px; 
    height: 410px;
    
    border: 4px solid rgb(189, 189, 36);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-left:50px;
    margin-top:50px;
}

.flash-cardes .img_turtle {
    width: 70%;
    height: auto;
    display: block;
    border-left: 1px solid #ccc;
    margin: 0 auto;
    border-radius: 50%;
    width: 70%; 
    height: 45%; 
    max-width: 100%; 
}

.flash-cardes .textes {
    padding: 10px;
    text-align: left;
    line-height: 1.7;
    font-weight:bold;
}
  
.swimming_turtle{
float:right;
position: absolute;
  top: 340px;
  right: 30px;
 width: 50%;
  height: auto;
}

.imges{
    
     top:500px;
    }

 .turtle_td  {
      border: 3px solid yellow ;
      border-collapse: collapse;
      background-color: #66b97600;
      border-radius: 10px;
      border-color: black;
      text-align:center;
  }
  .turtle_th {
    border: 3px solid yellow ;
    border-collapse: collapse;
    background-color: #66b97600;
    border-radius: 10px;
    border-color: black;
    text-align:center;
}
  
  .turtle_ta{
      float: top;
      margin-right:30px;
      margin-bottom:50px;
      display: table;
      width: 50%;
      font-weight:bold;
      
  }
  
  .turtle_tr:hover{
     background-color:rgba(240, 235, 105, 0.475);
  }    


  #changeBgButton {
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #b5ca14; 
    color: #fff;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    position: relative;
    left: 650px;
    margin-bottom: 50px;
}

#changeBgButton:hover {
    background-color: #989614; 
}


.footeres {
    width: 97.5%;
    background-color: #87CEEB; 
    overflow: hidden;
    height: 50px;
    padding: 10px 20px; 
    font-size: 16px; 
    line-height: 20px; 
    color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.contactes {
    float: left;
    margin-bottom: 100px;
    margin-top: 10px;
}
.emailes {
    color: #000000;
    margin-bottom: 100px;
    margin-top: 10px;
}
.gmailes {
    float: left;
    margin-right: 0px;
    margin-bottom: 100px;
    margin-top: 15px;
    width: 30px;
    height: 20px;
}
.Ratinges {
    float: right;
    margin-bottom: 100px;
    margin-top: 15px;
    margin-right: 100px;
    margin-left: 100px;
    color: #000;
    font-size: larger;
    font-weight: bold;
    text-decoration: none; 
    transition: color 0s;
}
.Ratinges:hover {
    color: red;
}
.jolly-lodger-regulares {
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  transition: transform 0.3 ease;
  text-align: center;
  width: 300px;
  position: relative;
  left: 590px;
}
.jolly-lodger-regulares:hover{
  transform: scale(1.1);
  text-shadow: 2px 2px 4px rgba(226, 200, 49, 0.642);
}

  
